name: CI - Run Tests

on:
  push:
    branches: [development]
  pull_request:
    branches: [development]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
  
      - name: Install dependencies
        run: pip install -r requirements.txt
  
      - name: Run tests
        run: pytest

      - name: Run tests with coverage and report
        run: pytest --cov=. --cov-report=term --cov-report=xml --html=report.html --self-contained-html

      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            report.html
            coverage.xml
